@model IEnumerable<KLTTimekeeper.Models.Project>

@{
    ViewData["Title"] = "Index";
}


@*<h2>Course Name</h2>
<h2>Projects</h2>*@

<h4>Project</h4>
<hr />
@*<table>
    <thead>Project</thead>
    <thead>Date Created</thead>
    <thead>Date Due</thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>item.projectName</td>
            <td>item.dateCreated</td>
            <td>item.dateDue</td>
        </tr>

    }
</table>*@

<div>
    <a asp-action="Index">Back to List</a>
</div>

